@import '../../responsive.scss';

.cta__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  height: 598px;
  margin: 5rem auto;

  img {
    width: 412px;
    height: 300px;
  }

  h1 {
    text-wrap: wrap;
    font-weight: 600;
    font-size: 3.56rem;
    text-align: center;
    line-height: 4.27rem;
    margin: 3rem 0;
  }

  form {
    display: flex;
    align-items: center;
    width: 540px;
    height: 34px;
  }

  input {
    width: 360px;
    height: 54px;
    border: 1px solid rgba(102, 102, 102, 0.205);
    border-radius: 5px;
    padding-left: 5px;
  }

  button {
    width: 167px;
    height: 54px;
    border: none;
    border-radius: 5px;
    background-color: #ea4e43;
    color: white;
    font-weight: 500;
    font-size: 1.18rem;
    cursor: pointer;
  }

  @include sm {
    h1 {
      margin: 3rem 0;
    }

    input {
      width: 180px;
    }

    button {
      width: 130px;
    }

    form {
      justify-content: space-evenly;
    }
  }
}
