@import '../../responsive.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-top: 1px solid rgb(170, 170, 170);

  img {
    margin: 0 4rem;

    @include sm {
      margin: 2rem;
    }
  }

  .column_container {
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;

    @include sm {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0.25rem;
    }
  }

  &_column {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    width: 137px;
    height: auto;

    h5 {
      margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
      margin-bottom: 0.25rem;
      color: #61c554;
    }

    @include sm {
      width: calc(50% - 10rem);
      margin: 1rem 2rem;
      margin-left: rem;
    }
  }

  @include sm {
    flex-direction: column;
    align-items: flex-start;
  }
}
